.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	background-color: #0a1f49;
	color: #FFF;
}

.footer .my-name {
	flex-grow: 1;
	margin-top: 10px;
	font-size: 1.5em;
}

.footer .add-me {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.footer .add-me a {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 250px;
	height: 50px;
	background-color: #3578E5;
	color: #FFF;
	text-decoration: none;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 1em;
	margin-bottom: 10px;
}

.footer .add-me a:hover {
	background-color: #142f60;
}

@media only screen and (min-width: 600px) {
	.footer .my-name {
		font-size: 2em;
	}

	.footer .add-me {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	.footer .add-me a {
		font-size: 1.2em;
	}
}