.hobbies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #142f60;
	color: #FFF;
	padding: 30px 0px 60px 0px;
}

.hobbies .title {
	margin: 20px 0px;
	font-size: 1.25em;
}

.hobbies .hobbies-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;

}

.hobbies .hobbies-container .component {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #092049;
	border-radius: 15px;
	margin-top: 10px;
	padding: 5px;
}

.hobbies .hobbies-container .component .images {
	max-width: 110px;
	height: 110px;
	margin-right: 5px;
	border-radius: 15px;
	background-color: #DDD;
}

.hobbies .hobbies-container .component .images img {
	width: 110px;
	height: 110px;
	object-fit: cover;
	border-radius: 15px;
	border: 2px solid #FFF;
}

.hobbies-container .component .hobby-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 110px;
}

.hobbies-container .component .hobby-content .hobby-title {
	flex-grow: 1;
}

.hobbies-container .component .hobby-content .hobby-title h2{
	padding: 5px;
	margin: 0;
}

.hobbies-container .component .hobby-content .detail-content {
	max-width: 200px;
  	flex-grow:1;
  	overflow-y: scroll;
  	overflow-x: hidden;
}

.component .hobby-content .detail-content > p {
	line-height: 1.25em;
	font-size: 1.2em;
	margin: 5px;
}

@media only screen and (min-width: 600px) {
	.hobbies .title {
		font-size: 1.8em;
	}

	.hobbies .hobbies-container{
		flex: 50%;
	}
	
	.hobbies .hobbies-container .component {
		margin-right: 50px;
		margin-left: 50px;
	}
	
	.hobbies-container .component .hobby-content {
		height: 150px;
	}

	.hobbies-container .component .hobby-content .detail-content {
		max-width: 300px;
	}

	.hobbies .hobbies-container .component .images, 
  	.hobbies .hobbies-container .component .images img{
    	width: 150px;
    	height: 150px;
    	margin-right: 80px;
  }

	.component .hobby-content .detail-content > p {
		margin: 5px;
		font-size: 1.25em;
		text-indent: 0em;
	}
}